<div *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_Access">
    <form [formGroup]="SelectedGroupManagementForm" (ngSubmit)="editGroup(SelectedGroupManagementForm.value)" class="example-form" style="display: inline-block;">
        <!-- <div *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_EditGroup">
            <li>Name : <input type="text" formControlName="name" (keyup)="NameChange($event.target.value)" [placeholder]="PlaceHolder.name" #name/></li>
        </div>

        <div *ngIf="!_currentUser.group.rightGroupPage.SelectedGroupManagement_EditGroup">
            <ul>
                <li>Name : {{ group.name }} </li>
                <li>RightGroupPage : {{ group.rightGroupPage.name }}</li>
            </ul>
        </div> -->

        <mat-form-field class="example-form-field">
            <input matInput formControlName="name" placeholder="Name" #name>
            <mat-icon *ngIf="name.value && name.value !== 'default'" mat-button matSuffix mat-icon-button (click)="name.value = ''">close</mat-icon>
        </mat-form-field>

        <div class="RightEdit">
            <!-- <mat-accordion>
                <mat-expansion-panel [expanded]="_RightEdit"> 
                    <mat-expansion-panel-header>
                        <mat-panel-title>RightGroupPage</mat-panel-title>
                        <mat-panel-description>Modification des droit de l'utilisateur</mat-panel-description>
                    </mat-expansion-panel-header> -->
            
                    <li>(La modification des droits de cette utilisateur va créer un group + un group de droit pour cette utilisateurs uniquement)</li>

                    <mat-form-field style="margin-top: 10px !important;">
                        <mat-select placeholder="RightGroupPage" formControlName="RightGroupPage" (selectionChange)="setRightEditSelected($event.value, SelectedGroupManagementForm.value)">
                            <mat-option *ngFor="let RightGroupPage of RightGroupPageList" [value]="RightGroupPage">{{ RightGroupPage.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <h2>Main Page</h2>
                    <label style="font-weight: bold;">Peut affecter le bon fonctionnement du site !</label>
                    <br />
                    <mat-slide-toggle class="disabledCheck" formControlName="Main_Access" color="primary"> Main_Access </mat-slide-toggle>
        
                    <h2>Accueil Page</h2>
                    <label style="font-weight: bold;">Peut affecter le bon fonctionnement du site !</label>
                    <br />
                    <mat-slide-toggle formControlName="Accueil_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'Accueil_Access')"> Accueil_Access </mat-slide-toggle>
        
                    <h2>Login Page</h2>
                    <label style="font-weight: bold;">Peut affecter le bon fonctionnement du site !</label>
                    <br />
                    <mat-slide-toggle formControlName="Login_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'Login_Access')"> Login_Access </mat-slide-toggle>
        
                    <h2>User Page</h2>
                    <mat-slide-toggle formControlName="User_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'User_Access')"> User_Access </mat-slide-toggle>
        
                    <h2>EditBar</h2>
                    <mat-slide-toggle class="disabledCheck" formControlName="EditBar_Access" color="primary"> EditBar_Access </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="EditBar_Dev" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'EditBar_Dev')"> EditBar_Dev </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle class="disabledCheck" formControlName="EditBar_Edit" color="primary"> EditBar_Edit </mat-slide-toggle>
        
                    <h2>SelectedUserManagement Page</h2>
                    <mat-slide-toggle formControlName="SelectedUserManagement_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedUserManagement_Access')"> SelectedUserManagement_Access </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedUserManagement_ViewPassword" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedUserManagement_ViewPassword')"> SelectedUserManagement_ViewPassword </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedUserManagement_ShowPasswordButton" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedUserManagement_ShowPasswordButton')"> SelectedUserManagement_ShowPasswordButton </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedUserManagement_EditRightGroupPageUser" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedUserManagement_EditRightGroupPageUser')"> SelectedUserManagement_EditRightGroupPageUser </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedUserManagement_DeleteUser" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedUserManagement_DeleteUser')"> SelectedUserManagement_DeleteUser </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedUserManagement_EditUser" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedUserManagement_EditUser')"> SelectedUserManagement_EditUser </mat-slide-toggle>
        
                    <h2>UserManagement Page</h2>
                    <mat-slide-toggle formControlName="UserManagement_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'UserManagement_Access')"> UserManagement_Access </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="UserManagement_AddUser" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'UserManagement_AddUser')"> UserManagement_AddUser </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="UserManagement_EditDefaultUser" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'UserManagement_EditDefaultUser')"> UserManagement_EditDefaultUser </mat-slide-toggle>
        
                    <h2>GroupManagement Page</h2>
                    <mat-slide-toggle formControlName="GroupManagement_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'GroupManagement_Access')"> GroupManagement_Access </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="GroupManagement_AddGroup" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'GroupManagement_AddGroup')"> GroupManagement_AddGroup </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="GroupManagement_EditDefaultGroup" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'GroupManagement_EditDefaultGroup')"> GroupManagement_EditDefaultGroup </mat-slide-toggle>
        
                    <h2>SelectedGroupManagement Page</h2>
                    <mat-slide-toggle formControlName="SelectedGroupManagement_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedGroupManagement_Access')"> SelectedGroupManagement_Access </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedGroupManagement_EditGroup" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedGroupManagement_EditGroup')"> SelectedGroupManagement_EditGroup </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedGroupManagement_DeleteGroup" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedGroupManagement_DeleteGroup')"> SelectedGroupManagement_DeleteGroup </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedGroupManagement_EditRightPage" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedGroupManagement_EditRightPage')"> SelectedGroupManagement_EditRightPage </mat-slide-toggle>
        
                    <h2>SelectedPageManagement Page</h2>
                    <mat-slide-toggle formControlName="SelectedPageManagement_Access" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedPageManagement_Access')"> SelectedPageManagement_Access </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedPageManagement_EditPage" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedPageManagement_EditPage')"> SelectedPageManagement_EditPage </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedPageManagement_EditRefresh" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedPageManagement_EditRefresh')"> SelectedPageManagement_EditRefresh </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedPageManagement_EditRoute" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedPageManagement_EditRoute')"> SelectedPageManagement_EditRoute </mat-slide-toggle>
                    <br />
                    <mat-slide-toggle formControlName="SelectedPageManagement_EditNeedLogIn" color="primary" (click)="setRightSelected(SelectedGroupManagementForm.value, 'SelectedPageManagement_EditNeedLogIn')"> SelectedPageManagement_EditNeedLogIn </mat-slide-toggle>        
                <!-- </mat-expansion-panel>
            </mat-accordion> -->
        
        <!-- <li *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_EditRightPage"> Template de RightGroupPage :
            <select formControlName="RightGroupPage" (change)="setRightEditSelected($event.target.value, SelectedGroupManagementForm.value)">
                <option *ngFor="let RightGroupPage of RightGroupPageList" [ngValue]="RightGroupPage">{{ RightGroupPage.name }}</option>
            </select>
        </li>
        <h2>Main Page</h2>
        <label style="font-weight: bold;">Peut affecter le bon fonctionnement du site !</label>
        <li class="disabledCheck">Main_Access : <input type="checkbox" formControlName="Main_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>Accueil Page</h2>
        <label style="font-weight: bold;">Peut affecter le bon fonctionnement du site !</label>
        <li>Accueil_Access : <input type="checkbox" formControlName="Accueil_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>Login Page</h2>
        <label style="font-weight: bold;">Peut affecter le bon fonctionnement du site !</label>
        <li>Login_Access : <input type="checkbox" formControlName="Login_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>User Page</h2>
        <li>User_Access : <input type="checkbox" formControlName="User_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>EditBar</h2>
        <li class="disabledCheck">EditBar_Access : <input type="checkbox" formControlName="EditBar_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>EditBar_Dev : <input type="checkbox" formControlName="EditBar_Dev" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li class="disabledCheck">EditBar_Edit : <input type="checkbox" formControlName="EditBar_Edit" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>SelectedUserManagement Page</h2>
        <li>SelectedUserManagement_Access : <input type="checkbox" formControlName="SelectedUserManagement_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedUserManagement_ViewPassword : <input type="checkbox" formControlName="SelectedUserManagement_ViewPassword" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"></li>
        <li>SelectedUserManagement_ShowPasswordButton : <input type="checkbox" formControlName="SelectedUserManagement_ShowPasswordButton" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedUserManagement_EditRightGroupPageUser : <input type="checkbox" formControlName="SelectedUserManagement_EditRightGroupPageUser" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedUserManagement_DeleteUser : <input type="checkbox" formControlName="SelectedUserManagement_DeleteUser" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedUserManagement_EditUser : <input type="checkbox" formControlName="SelectedUserManagement_EditUser" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>UserManagement Page</h2>
        <li>UserManagement_Access : <input type="checkbox" formControlName="UserManagement_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>UserManagement_AddUser : <input type="checkbox" formControlName="UserManagement_AddUser" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>UserManagement_EditDefaultUser : <input type="checkbox" formControlName="UserManagement_EditDefaultUser" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>GroupManagement Page</h2>
        <li>GroupManagement_Access : <input type="checkbox" formControlName="GroupManagement_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>GroupManagement_AddGroup : <input type="checkbox" formControlName="GroupManagement_AddGroup" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>GroupManagement_EditDefaultGroup : <input type="checkbox" formControlName="GroupManagement_EditDefaultGroup" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>SelectedGroupManagement Page</h2>
        <li>SelectedGroupManagement_Access : <input type="checkbox" formControlName="SelectedGroupManagement_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedGroupManagement_EditGroup : <input type="checkbox" formControlName="SelectedGroupManagement_EditGroup" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedGroupManagement_DeleteGroup : <input type="checkbox" formControlName="SelectedGroupManagement_DeleteGroup" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedGroupManagement_EditRightPage : <input type="checkbox" formControlName="SelectedGroupManagement_EditRightPage" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>

        <h2>SelectedPageManagement Page</h2>
        <li class="disabledCheck">SelectedPageManagement_Access : <input type="checkbox" formControlName="SelectedPageManagement_Access" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedPageManagement_EditPage : <input type="checkbox" formControlName="SelectedPageManagement_EditPage" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedPageManagement_EditRefresh : <input type="checkbox" formControlName="SelectedPageManagement_EditRefresh" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedPageManagement_EditRoute : <input type="checkbox" formControlName="SelectedPageManagement_EditRoute" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li>
        <li>SelectedPageManagement_EditNeedLogIn : <input type="checkbox" formControlName="SelectedPageManagement_EditNeedLogIn" (click)="setRightSelected(SelectedGroupManagementForm.value, $event.target.attributes[0].nodeValue)"/></li> -->
        </div>
        <!-- <div class="EditBar" *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_EditGroup">
            <div *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_DeleteGroup" class="button" (click)="DeleteGroup()">Supprimer le groupe</div>
            <button *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_EditGroup" type="submit" [disabled]="!SelectedGroupManagementForm.valid">Valider les modifications</button>
        </div> -->
        <div class="EditBar" *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_EditGroup">
            <button class="boutton_n" *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_DeleteGroup" mat-raised-button (click)="DeleteGroup()" type="button" color="warn">Supprimer l'utilisateur</button>
            <button class="boutton_m" style="margin-left: 2%; float: left;" *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_DeleteGroup" mat-raised-button color="primary"matBadge="8" matBadgePosition="before" matBadgeColor="warn"><i (click)="DeleteGroup()" type="button" class="fas fa-trash-alt"></i></button>
            <button class="boutton_n" style="margin-left: 20px !important;" *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_EditGroup" mat-raised-button type="submit" color="primary">Valider les modifications</button>
            <button class="boutton_m" style="margin-left: 2%; float: left;" *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_EditGroup" mat-raised-button type="submit" color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent"><i class="fas fa-user-check"></i></button>
        </div>
    </form>
</div> 