<div *ngIf="_currentUser.group.rightGroupPage.MonCompte_Access">
  <div class="profile_mon_compte">
      <img src="{{ _currentUser.profile }}">
  </div>
  <div class="Account_content">
      <ul>
          <li>Login : {{_currentUser.login}}</li>
          <li>Mot de passe : {{_currentUser.password}}</li>
          <li>Group : {{_currentUser.group.name}}</li>
          <li>Statut de connexion : {{_currentUser.statut}}</li>
          <li>Date de dernière connexion : {{_currentUser.date_time_logIn}}</li>
          <li>Date d'Inscription : {{_currentUser.date_time_signIn}}</li>
          <li>Game Tag : {{_currentUser.gameTag}}</li>
          <li>Name : {{_currentUser.name}}</li>
          <li>FirstName : {{_currentUser.firstName}}</li>
          <li>BirthDate : {{_currentUser.birthDate}}</li>
        </ul>
  </div>
</div>