<div class="LoginForm_content" *ngIf="_currentUser.group.rightGroupPage.Login_Access">
    <form [formGroup]="LoginForm" (ngSubmit)="logIn(LoginForm.value)" class="example-form" style="display: inline-block; width: 100%;">
        <div> 
            <ul>
                <mat-form-field class="example-form-field">
                    <input matInput formControlName="login" placeholder="Login" #login>
                    <mat-icon *ngIf="login.value" mat-button matSuffix mat-icon-button (click)="login.value = ''">close</mat-icon>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <input matInput type="password" formControlName="password" placeholder="Mot de passe" #password>
                    <mat-icon *ngIf="password.value" mat-button matSuffix mat-icon-button (click)="password.value = ''">close</mat-icon>
                </mat-form-field>

                <button class="boutton" style="width: 100%;" mat-raised-button type="submit" color="primary">S'identifier</button>
            </ul>
        </div>
    </form>
</div>

    