<table class="table" *ngIf="_currentUser.group.rightGroupPage.GroupManagement_Access">
    <thead>
      <tr>
        <th width="10px">id</th>
        <th width="10px">name</th>
        <th width="10px">RightGroupPage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of GroupList">
        <td>#{{ group.id }}</td>
        <td *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_Access"><li class="lien"><a routerLink="/GroupManagement/{{ group.id }}">{{ group.name }}</a></td>
        <td *ngIf="!_currentUser.group.rightGroupPage.SelectedGroupManagement_Access" style="color: #555;">{{ group.name }}</td>
        <td>{{ group.rightGroupPage.name }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_Access" class="EditBar">
    <div *ngIf="_currentUser.group.rightGroupPage.GroupManagement_AddGroup" class="button" routerLink="/GroupManagement/New">Ajouter un groupe</div>
    <div *ngIf="_currentUser.group.rightGroupPage.GroupManagement_EditDefaultGroup" class="button" routerLink="/GroupManagement/1">Modifier le groupe par défaut</div>
  </div>