<!-- <table class="table" *ngIf="_currentUser.group.rightGroupPage.GroupManagement_Access">
    <thead>
      <tr>
        <th width="10px">id</th>
        <th width="10px">name</th>
        <th width="10px">RightGroupPage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of GroupList">

          _currentUser.group.rightGroupPage.UserManagement_EditDefaultUser
        <td>#{{ group.id }}</td>
        <td *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_Access"><li class="lien"><a routerLink="/GroupManagement/{{ group.id }}">{{ group.name }}</a></td>
        <td *ngIf="!_currentUser.group.rightGroupPage.SelectedGroupManagement_Access" style="color: #555;">{{ group.name }}</td>
        <td>{{ group.rightGroupPage.name }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_Access" class="EditBar">
    <div *ngIf="_currentUser.group.rightGroupPage.GroupManagement_AddGroup" class="button" routerLink="/GroupManagement/New">Ajouter un groupe</div>
    <div *ngIf="_currentUser.group.rightGroupPage.GroupManagement_EditDefaultGroup && _currentUser.group.rightGroupPage.UserManagement_EditDefaultUser" class="button" routerLink="/GroupManagement/1">Modifier le groupe par défaut</div>
  </div> -->

<div *ngIf="_currentUser.group.rightGroupPage.GroupManagement_Access">
  <mat-chip-list *ngIf="_currentUser.group.rightGroupPage.GroupManagement_AddGroup">
      <mat-chip routerLink="/GroupManagement/New" selected>Ajouter un groupe</mat-chip>
  </mat-chip-list>
  
  <table mat-table [dataSource]="GroupList" class="mat-elevation-z8" style="margin-top: 20px;">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> #{{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
  
      <td mat-cell *matCellDef="let element">
        <li *ngIf="element.id !== 1">
          <a *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_Access" class="lien" routerLink="/GroupManagement/{{ element.id }}">{{ element.name }}</a>
          <a style="color: #555;" *ngIf="!_currentUser.group.rightGroupPage.SelectedGroupManagement_Access">{{ element.name }}</a>    
        </li>
        <li *ngIf="element.id === 1">
          <a *ngIf="_currentUser.group.rightGroupPage.SelectedGroupManagement_Access && _currentUser.group.rightGroupPage.UserManagement_EditDefaultUser" class="lien" routerLink="/GroupManagement/{{ element.id }}">{{ element.name }}</a>
          <a style="color: #555;" *ngIf="!_currentUser.group.rightGroupPage.SelectedGroupManagement_Access || !_currentUser.group.rightGroupPage.UserManagement_EditDefaultUser">{{ element.name }}</a>    
        </li>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="rightGroupPage">
      <th mat-header-cell *matHeaderCellDef> RightGroupPage </th>
      <td mat-cell *matCellDef="let element"> {{element.rightGroupPage.name}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>