<table class="table" *ngIf="_currentUser.group.rightGroupPage.access_UserManagement === '1'">
  <thead>
    <tr>
      <th width="10px">id</th>
      <th width="10px">log</th>
      <th width="10px">login</th>
      <th width="10px">password</th>
      <th width="10px">inscription</th>
      <th width="10px">connection</th>
      <th width="10px">group</th>
      <th width="10px">picture</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of UserList">
      <td>#{{ user.id }}</td>
      <td>{{ user.statut }}</td>
      <td><li class="lien"><a routerLink="/UserManagement/{{ user.id }}">{{ user.login }}</a></td>
      <td>{{ user.password }}</td>
      <td>{{ user.date_time_signIn }}</td>
      <td>{{ user.date_time_logIn }}</td> 
      <td><li class="lien"><a routerLink="/SetGroups/{{ user.group }}">{{ user.group.name }}</a></td>
      <td>{{ user.profile }}</td>
    </tr>
  </tbody>
</table>