<ngx-loading-bar [includeSpinner]="true" color="#00BE00" height="4px"></ngx-loading-bar>
<div id="page_content">
  <header id="page_header">
    <div class="bouton_nav_mobile">
      <i class="fas fa-bars"></i>
    </div>
    <div class="page_header_block_gauche">
      <li class="lien"><a routerLink="/Accueil">Accueil</a></li>
      <li class="lien"><a *ngIf="style_m" (click)="changeStyle()">Passer en mode Nuit</a></li>
      <li class="lien"><a *ngIf="!style_m" (click)="changeStyle()">Passer en mode Jour</a></li>
    </div>
    <div class="page_header_block_droite">
      <div *ngIf="_currentUser.statut">
        <a *ngIf="_currentUser.group.rightGroupPage.User_Access" class="profile_nav" routerLink="/User/MonCompte"><img src="{{ _currentUser.profile }}"></a>
        <a *ngIf="!_currentUser.group.rightGroupPage.User_Access" class="profile_nav" ><img src="{{ _currentUser.profile }}"></a>
        <li *ngIf="_currentUser.group.rightGroupPage.User_Access" class="lien"><a routerLink="/User/MonCompte">Mon Compte ({{ _currentUser.login }})</a></li>
        <li *ngIf="!_currentUser.group.rightGroupPage.User_Access" style="color: #555;">Mon Compte ({{ _currentUser.login }})</li>
        <li class="lien" (click)="logOut()">Se déconnecter</li>
      </div>
      <div *ngIf="!_currentUser.statut">
        <li class="lien"><a routerLink="/Login">Se Connecter</a></li>
      </div>
    </div>
  </header>

  <nav id="page_nav">
    <div class="page_nav_content">
      <div class="page_nav_logo">
        <a routerLink="/Accueil"><img class="lien" src="assets/uploads/images/logo.jpg"></a>
      </div>
      <div class="page_nav_liens">
        <li class="lien" >Lien 1</li>
        <li class="lien" >Lien 2</li>
        <li class="lien" >Lien 3</li>
        <li class="lien" >Lien 4</li>
      </div>
    </div>
  </nav>

  <section id="dev" *ngIf="_currentUser.group.rightGroupPage.EditBar_Access">
      <div *ngIf="_currentUser.group.rightGroupPage.EditBar_Edit" class="edit" (click)="GestionSitePopup()"><i class="far fa-edit"></i></div>
      <div *ngIf="_currentUser.group.rightGroupPage.EditBar_Dev" class="dev"><a routerLink="/Developer"><i class="fas fa-code"></i></a></div>
  </section>

  <div id="devPopup" *ngIf="_GestionSitePopupStatut && _currentUser.group.rightGroupPage.EditBar_Access" appMovable>
    <div id="bar_move" class="bar">
      <div class="bar_content">
        <div class="bar_content_title">
          <li>Test bar dev web</li>
        </div>
        <div class="bar_close_button" (click)="GestionSitePopup()"><i class="fas fa-times"></i></div>
      </div>
    </div>
    <div class="devPopup_content">
      <li *ngIf="_currentUser.group.rightGroupPage.UserManagement_Access" class='lien'><a routerLink="/UserManagement">Gestion des utilisateurs</a></li>
      <li *ngIf="!_currentUser.group.rightGroupPage.UserManagement_Access" style="color: #555;">Gestion des utilisateurs</li>
      <li *ngIf="_currentUser.group.rightGroupPage.GroupManagement_Access" class='lien'><a routerLink="/GroupManagement">Gestion des groupes</a></li>
      <li *ngIf="!_currentUser.group.rightGroupPage.GroupManagement_Access" style="color: #555;">Gestion des groupes</li>
      <li *ngIf="_currentUser.group.rightGroupPage.SelectedPageManagement_Access" class='lien'><a routerLink="/PageManagement/{{ _currentPage.id }}">Editer les Parametres de cette page</a></li>
      <li *ngIf="!_currentUser.group.rightGroupPage.SelectedPageManagement_Access" style="color: #555;">Editer les Parametres de cette page</li> 
    </div>
  </div>

  <section id="page_section">
    <router-outlet></router-outlet>
  </section>

</div>