<ngx-loading-bar [includeSpinner]="true" color="#00BE00" height="4px"></ngx-loading-bar>
<div id="page_content">
  <header id="page_header">
    <div class="page_header_block_gauche">
      <li class="lien"><a routerLink="/Accueil">Accueil</a></li>
    </div>
    <div class="page_header_block_droite">
      <div *ngIf="_currentUser.statut">
        <a class="profile_nav" routerLink="/MonCompte"><img src="assets/uploads/images/{{ _currentUser.profile }}"></a>
        <li class="lien"><a routerLink="/MonCompte">Mon Compte ({{ _currentUser.login }})</a></li>
        <li class="lien" (click)="logOut()">Se déconnecter</li>
      </div>
      <div *ngIf="!_currentUser.statut">
        <li class="lien"><a routerLink="/Login">Se Connecter</a></li>
      </div>
    </div>
  </header>

  <nav id="page_nav">
    <div class="page_nav_content">
      <div class="page_nav_logo">
        <a routerLink="/Accueil"><img class="lien" src="assets/uploads/images/logo.jpg"></a>
      </div>
      <div class="page_nav_liens">
        <li class="lien" >Lien 1</li>
        <li class="lien" >Lien 2</li>
        <li class="lien" >Lien 3</li>
        <li class="lien" >Lien 4</li>
      </div>
    </div>
  </nav>

  <section *ngIf="_currentUser.group.rightGroupPage.access_Main_EditBar" id="dev">
      <div *ngIf="_currentUser.group.rightGroupPage.access_Main_EditBar_Edit" class="edit" (click)="GestionSitePopup()"><i class="far fa-edit"></i></div>
      <div *ngIf="_currentUser.group.rightGroupPage.access_Main_EditBar_Dev" class="dev"><a routerLink="/Developer"><i class="fas fa-code"></i></a></div>
  </section>

  <div id="devPopup" *ngIf="_GestionSitePopupStatut" appMovable>
    <div id="bar_move" class="bar">
      <div class="bar_content">
        <div class="bar_content_title">
          <li>Test bar dev web</li>
        </div>
        <div class="bar_close_button" (click)="GestionSitePopup()"><i class="fas fa-times"></i></div>
      </div>
    </div>
    <div class="devPopup_content">
      <li class='lien'><a routerLink="/UserManagement">Gestion des utilisateurs</a></li>
      <li class='lien'><a routerLink="/GroupManagement">Gestion des groupes</a></li>
    </div>
  </div>

  <section id="page_section">
    <router-outlet></router-outlet>
  </section>

</div>