<div >
  <form [formGroup]="SelectedPageManagementForm" (ngSubmit)="editPage(SelectedPageManagementForm.value)">
    <div class="edit_page_gauche">
      <label>Icone de la page :</label>
        <div class="favicon">
            <input style="display: none" type="file" (change)="imageChangeClick($event)" #File>
            <file-drop (onFileDrop)="imageChangeDrag($event)" (click)="File.click()">
                <img src="{{ page.favicon }}" appHighlight>
                <div class="drop">Drop icon here</div>
            </file-drop>
        </div>
      <li>Title : <input type="text" formControlName="title" (keyup)="TitleChange($event.target.value)"/></li>
      <li></li>
      <li></li>
    </div>
    <div class="edit_page_droite">
      <img class="onglet" src="assets/uploads/images/PageNotVoid.jpg">
      <div class="edit_page_logo"><img src="{{ page.favicon }}"></div>
      <div class="edit_page_title">{{ new_title }}</div>
    </div>
    <div class="EditBar">
        <div class="button" (click)="DeletePage()">Supprimer la page</div>
        <button type="submit" [disabled]="!SelectedPageManagementForm.valid">Valider les modifications</button>
    </div>
  </form>
</div>