@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Titillium Web', sans-serif;
  user-select: none;
  text-align: justify;
  cursor: default;
}

li, ul, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
      display: block;
}

a:-webkit-any-link {
  color: inherit;
}

#page_nav,
#page_header {
  border-left: none;
}

#page_nav {
  border-bottom: none;
}

#page_header {
  border-right: none;
}

.lien {
cursor: pointer;
}

.lilien {
    font-weight: bold;
    border-bottom: 1.5px dotted;
    transition: 0.25s;
    display: table;
}

.lilien:hover {
  color: #555;
  border-bottom: 1.5px solid;
}

.profile_nav {
    float: left;
}

.profile_nav img {
  max-height: 30px;
  border-radius: 50%;
  z-index: 100;
  height: 30px;
  max-width: 30px;
  width: 30px;
}


#page_header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 50px;
  z-index: 10;
}

.page_header_block_gauche {
  margin-left: 30px;
  padding-top: 10px;
  float: left;
}

.page_header_block_droite {
  margin-right: 30px;
  padding-top: 10px;
  float: right;
}

.page_header_block_gauche li,
.page_header_block_droite li {
  font-weight: bold;
  border-bottom: 1.5px dotted;
  transition: 0.25s;
  float: left;
  margin-left: 15px;
}

.page_header_block_gauche li:hover,
.page_header_block_droite li:hover {
  color: #555;
  border-bottom: 1.5px solid;
}

#page_section {
      margin-left: 300px;
      right: 0;
      position: static;
      margin-top: 50px;
      padding: 10%;
      padding-top: 100px;
      padding-bottom: 100px;
      margin-bottom: 100px !important;
}

#page_nav {
  left: 0;
    position: fixed;
    top: 50px;
    width: 300px;
    bottom: 0;
}

.page_nav_content {
  padding: 20px;
}

.page_nav_content img {
max-width: 260px;
max-height: 260px;
}

.page_nav_liens {
      margin-top: 20px;
}

.page_nav_liens li {
  margin-top: 20px;
display: table;
margin-left: 20px;
}

#dev {
  bottom: 0;
  position: fixed;
  border-left: none;
  border-bottom: none;
  left: 0;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  display: inline-flex;
  z-index: 1000;
}

#dev .edit,
#dev .dev {
  cursor: pointer;
  float: left;
  margin: auto;
}

#dev .edit svg,
#dev .dev svg {
  width: 50px;
    height: 50px;
}

#devPopup {
  position: fixed;
    width: 296px;
    height: 300px;
    border: 3px solid black;
    opacity: 0.9;
        z-index: 1000;
        left: 0;
    bottom: 10.7%;
}

.bar {
      max-height: 100px;
}

.bar_content {
  display: flex;
  cursor: move;
}

.bar_content_title {
      float: left;
      width: 90%;
      text-align: center;
      font-weight: bold;
}

.bar_content_title li {
  word-wrap: break-word;
      font-size: 30px;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
}

.bar_close_button {
  width: 10%;
      float: right;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
          cursor: pointer;
}

.bar_close_button svg {
  width: 50% !important;
height: 50% !important;
}

.devPopup_content li {
  margin: 5px;
  display: inline-grid;
  margin-left: 15px;
  margin-top: 15px;
}

.devPopup_content li a {
  padding: 5px;
}



.table {
  border: 2px solid black;
  border-collapse: collapse;
      width: 100%;
      text-align: center;
          table-layout: fixed;
}

.table td,
.table th
{
  border-top: 2px dotted black;
  border-right: 1px dotted black;
  padding: 5px;
  word-wrap: break-word;
}

.table td input,
.table td select {
      width: 100%;
}

#notify {
  border: 2px solid black;
display: table;
margin-left: 300px;
margin-top: 60px;
}

/*

.LoginForm {
  width: 600px;
  margin: auto;
}

.LoginForm_login,
.LoginForm_password {
    margin: 20px;
    display: flex;
    border: 2px solid #666;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.LoginForm_button {
  width: 50%;
}

.LoginForm label {
  padding: 12px;
  border-right: 2px solid #666;
  width: 50px;
}

.LoginForm label svg {
  width: 30px !important;
  height: 30px;
  color: #666;
}

.LoginForm input {
  width: 470px;
  border: none;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  padding-left: 25px;
  font-weight: bold;
}

.LoginForm_ErrorMsg {
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.ErrorMsg {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.LoginForm_content {
  text-align: center;
}

.LoginForm_button {
  margin-top: 20px;
    border: 2px solid #008800 !important;
    background-color: #00BE00;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding-left: 5px !important;
}

.LoginForm_button:hover {
    border: 2px solid #00BE00 !important;
    background-color: #008800;
}

*/

.Account_content {
  float: left;
  margin: auto;
  padding-top: 0;
  width: 70%
}

.Account_content ul {
  padding: 35px;
  padding-top: 0;
}

.profile {
  float: left;
  text-align: center;
  /* display: flex; */
  cursor: pointer;
  width: 30%;
}

.profile img {
  /* height: 200px;
  width: 200px; */
  width: 100%;
  height: 100%;
  /* max-height: 200px;
  max-width: 200px; */
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s;
  border: 2px dotted transparent;
  box-shadow: 5px 5px 5px #888888;
  z-index: 2;
}

.profile:hover .drop {
  opacity: 1;
  transition: 0.3s;
}

.profile:hover img {
  opacity: 0.7;
  /* height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px; */
  transition: 0.3s;
}


.col_gauche,
.col_droite {
  width: 50%;
  float: left;
}

.col_droite li,
.col_gauche li {
  border: 2px solid;
  padding: 5px;
  height: 30px;
}

.col_droite input,
.col_droite select {
  width: 99%;
  height: 85%;
}

.RightEdit {
  float: left;
  width: 100%;
}
.button {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  border-image: initial;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  margin: 0em;
  font: 400 11px system-ui;
  -webkit-appearance: button;
}

.EditBar{
  bottom: 0;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  left: 302Px;
  text-align: center;
  right: 0;
  height: 40px;
  z-index: 10;
}

  file-drop {
    /* height: 204px;
    width: 204px; */
    /* position: absolute; */
    display: block;
    padding: 5%;
    padding-top: 0;
  }

  .drop-zone[_ngcontent-c1],
  .content[_ngcontent-c1] {
    /* height: 204px !important;
    width: 204px !important; */
    border: none !important;
    border-radius: initial !important;
    width: 100% !important;
    height: 100% !important;
  }

  .content[_ngcontent-c1] {
    display: block !important;
    /* height: initial !important; */
  }

  .drop {
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    color: #666;
    z-index: 1;
  }


  .over[_ngcontent-c1]{background-color: initial !important; }

  .profile_mon_compte {
    float: left;
    text-align: center;
    display: flex;
  }
  
  .profile_mon_compte img {
    height: 200px;
    width: 200px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    opacity: 1;
    transition: 0.3s;
    z-index: 2;
  }

  .edit_page_gauche,
  .edit_page_droite {
    width: 50%;
    
  }

  .edit_page_gauche {
    float: left;
    display: grid;
  } 

  .edit_page_droite {
    float: right;
    display: flex;
  }

  .onglet {
    height: 102.9px;
  }

  .edit_page_logo {
    width: 24.9px;
    height: 24.9px;
    margin-top: 53.2px;
    margin-left: -362.6px;
  }

  .edit_page_logo img {
    width: 24.9px;
    height: 24.9px;
  }

  .edit_page_title {
    margin-top: 55.37px;
    margin-left: 7.84px;
    font-size: 17.64px;
    font-family: sans-serif;
    color: #44494c;
    margin-right: -183px;
  }


  .favicon {
    float: left;
    text-align: center;
    display: flex;
    cursor: pointer;
    margin-bottom: 30px;
    height: 204px;
    width: 204px;
  }
  
  .favicon img {
    height: 200px;
    width: 200px;
    max-height: 200px;
    max-width: 200px;
    opacity: 1;
    transition: 0.3s;
    border: 2px dotted transparent;
    box-shadow: 5px 5px 5px #888888;
    z-index: 2;
  }
  
  .favicon:hover .drop {
    opacity: 1;
    transition: 0.3s;
  }
  
  .favicon:hover img {
    opacity: 0.7;
    border: 2px dotted #000;
    height: 200px;
    width: 200px;
    max-height: 200px;
    max-width: 200px;
    transition: 0.3s;
  }

  .edit_page_gauche label {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .disabledCheck {
    color: #888;
  }

  .example-form-field {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .drop-zone[_ngcontent-c2] {
    border: none !important;
  }

  .boutton_n span,
  .boutton_m span {
    color: #FFF !important;
  }

  .boutton_m {
    display: none !important;
  }

  mat-slide-toggle {
    width: 100%;
  }

  .um_n {
    display: block !important;
  }

  .content[_ngcontent-c3] {
    height: unset !important;
  }

  .bouton_nav_mobile {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 8px;
    float: left;
  }

  .bouton_nav_mobile svg {
    width: 15px;
  }

@media (max-width: 1000px) {
  .profile {
    width: 30%;
    margin-left: 35%;
  }
  .Account_content {
    width: 100%;
  }

  #page_section {
    padding: 5%;
  }
}

@media (max-width: 900px) {
  #page_nav, #dev {
    display: none;
  }

  #page_section, .EditBar {
    margin-left: 0;
    left: 0;
  }

  .bouton_nav_mobile {
    display: block;
  }

  .boutton_n {
    display: none !important;
  }

  .boutton_m {
    display: block !important;
  }

  .page_header_block_gauche, .profile_nav {
    display: none;
  }

  .um_n {
    display: none !important;
  }

  table li a,
  table td,
  table th {
    font-size: 10px !important;
  }
  
  table td {
    padding: 2px !important;
  }
}

.drop-zone[_ngcontent-c3] {
  border: none !important;
}

#page_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}


/* @media (min-width: 768px) {
  
}

@media (min-width: 992px) and (max-width: 1199px) {

} */