<!-- <div *ngIf="_currentUser.group.rightGroupPage.Settings_Access"> -->
    <div class="EditBar" #EditBar>
        <button class="boutton_n" *ngIf="_currentUser.group.rightGroupPage.UserManagement_Access" mat-raised-button type="button" color="primary" routerLink="/UserManagement">Gestion des utilisateurs</button>
        <button class="boutton_m" style="margin-left: 2%; float: left;" *ngIf="_currentUser.group.rightGroupPage.UserManagement_Access" mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="primary" type="button" routerLink="/UserManagement"><i class="fas fa-user-cog"></i></button>
        <button class="boutton_n" style="margin-left: 20px !important;" *ngIf="_currentUser.group.rightGroupPage.GroupManagement_Access" mat-raised-button type="button" color="primary" routerLink="/GroupManagement">Gestion des groupes</button>
        <button class="boutton_m" style="margin-left: 2%; float: left;" *ngIf="_currentUser.group.rightGroupPage.GroupManagement_Access" mat-raised-button type="button" color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="primary" routerLink="/GroupManagement"><i class="fas fa-users-cog"></i></button>
    </div>
<!-- </div> -->